<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_HOME" value="logs"/>

    <contextName>demo</contextName>

     <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <property name="KEEP_MAX_DAY" value="180" />
    <property name="KEEP_TOTAL_MAX_SIZE" value="1GB" />
    <property name="KEEP_FILE_MAX_SIZE" value="50MB" />

    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/springboot.log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>${KEEP_MAX_DAY}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>${KEEP_FILE_MAX_SIZE}</MaxFileSize>
        </triggeringPolicy>
    </appender>


    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>